.information-container
{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1.jpg");
	background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
	
	min-height: 340px;
	border-radius: 15px;
	
	padding: 25px;
	margin-top: 25px;
	
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

.information-container li
{
	list-style-type: none;
	color:white;
}

.title
{
	font-size: 2.1em;
	font-weight: 500;
}

.line-spacer-information
{
	width: 9em;
	height: 8px;
	margin-top: 7px;
	background-color: #92ccff;
}

.under-title
{
	margin-top: 10px;
	font-weight: 400;
	font-size: 1.2em;
}

.author
{
	margin-top: 5px;
	font-style: italic;
	font-weight: 300;
	font-size: 0.9em;
}

.information-option-icons
{
	text-align: right;
	width: 100%;
	margin-bottom: 20%;
}

.rose
{
	color: #ff007d;
}

.article-container
{
	background-color: white;
	border-radius: 15px;
	margin-top: 25px;
	margin-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 20px;
	
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

.option-article
{
	list-style-type: none;
	padding-left: 0px;
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 4px;
	border-bottom: 1px solid #dedede;
	height: 45px;
}

.publication-date
{
	float:left;
}

.option-article-icons
{
	float: right;
	padding-left: 15px;
	line-height: 0px;
	font-size: 1.5em;
	cursor:pointer;
}

.step-title
{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2em;
}

.article-content
{
	margin-top: 12px;
	letter-spacing: 1px;
	line-height: 1.6em;
	font-size: 1em;
}

.switch-page-container
{
	list-style-type: none;
	overflow: hidden;
	margin-top: 50px;
	border-top: 1px solid #dedede;
	margin-bottom: 0px;
	padding-left: 0;
	padding-top: 15px;
}

.switch-page-container li
{
	float: left;
	width: 33%;
	text-align: center;
	font-weight: 200;
}

.current-page
{
	font-weight: 800;
}

.switch-page
{
	color: #53aeff;
	cursor: pointer;
	transition: 0.5s;
}

.switch-page:hover
{
	color:black;
}

.switch-page-container .no-page
{
	color: #d6d6d6 !important;
	text-decoration: none !important;
	cursor: default;
}