.information-container
{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1.jpg");
	background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
	
	min-height: 340px;
	border-radius: 15px;
	
	padding: 25px;
	margin-top: 25px;
}

.information-container li
{
	list-style-type: none;
	color:white;
}

.title
{
	font-size: 2.1em;
	font-weight: 500;
}

.line-spacer-information
{
	width: 9em;
	height: 8px;
	margin-top: 7px;
	background-color: #92ccff;
}

.under-title
{
	margin-top: 10px;
	font-weight: 400;
	font-size: 1.2em;
}

.author
{
	margin-top: 5px;
	font-style: italic;
	font-weight: 300;
	font-size: 0.9em;
}

.information-option-icons
{
	text-align: right;
	width: 100%;
	margin-bottom: 20%;
}

.rose
{
	color: #ff007d;
}