.footer {
	width: 100%;
	background-color: white;
	border-top: 1px solid #dedede;
	text-align: center;
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 0px;
	padding-left: 0px;
	padding:12px;
	margin-top: 25px;
}

.footer li
{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	transition: 0.5s;
	font-weight: 200;
}

.footer li:hover
{
	color:black;
}

.participate
{
	float:right !important;
}

.participate a
{
	color:#53aeff;;
	transition: 0.5s;
}

.participate a:hover
{
	text-decoration: none !important;
}

.footer-creator-message
{
	border-right: 1px solid #dedede;
	color: grey;
}

.legal-mention
{
	color:#53aeff;;
}